.layout {
    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 720px;
        margin: 0 auto;
    }

    &__container {
        max-width: 1440px;
        margin: 0rem auto;
    }
}