.site {
    &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__container {
        display: flex;

        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }
    }

    &__card {
        // border-radius: 5rem;
        border: 1px solid var(--color-primary);
        width: 100%;
        max-width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        flex: 1 1 calc(30% - 10px);
        box-sizing: border-box;
        transition: ease-in 0.2s all;


        &:hover {
            cursor: pointer;
            background-color: var(--color-primary);
            color: var(--color-secondary);

            .tag {
                background-color: var(--color-secondary);
                color: var(--color-primary);
            }
        }


        img {
            width: 100%;
            max-width: 500px;
            margin-right: 0.5rem;
            border: 1px solid var(--color-secondary);
        }
    }

    &__content {
        display: flex;
        align-items: center;

        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }


    }

    &__info {
        display: flex;

        @media screen and (max-width: 425px) {
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        img {
            width: 100%;
            max-width: 200px;
            height: 100%;
            max-height: 200px;
        }
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width: 425px) {
            justify-content: center;
            align-items: center;
        }
    }
}